li a {
	color: green;
	z-index: 2;
	font-size: 20px;
}
.container:before {
	    content: "";
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	    background: url('images/buttercup.jpg')50% 0 no-repeat fixed;
	   opacity: 0.3;
}

.content {
    position: relative; 
    z-index: 2;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;

}​
